server
{
    listen 443 ssl;

    server_name {SERVER_NAME};

    error_log /var/log/nginx/{SERVER_NAME}.error.log info;
    access_log /var/log/nginx/{SERVER_NAME}.access.log;

    location /
    {
        proxy_pass http://localhost:8080/;
    }
}
